#new-marketplace {
  margin-top: 160px;
  padding-bottom: 80px;

  .bg-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    z-index: -1;
  }

  .product-filter {
    position: relative;
    z-index: 1000;
    margin-top: -80px;

    .market__control-panel {
      position: fixed;
      top: 80px;
      left: 50%;
      transform: translate(-50%);
      width: fit-content;
      z-index: 101;
      display: flex;
      justify-content: center;
      width: 100%;

      .MuiTabs {
        &-scroller {
          .MuiTab-root {
            background: #1b1c1d;
            box-shadow: 0px 0px 10px #000;
            backdrop-filter: blur(80px);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            border-left: none;
            border-right: none;
            border-top: none;
            padding: 0 40px;
            height: 50px;
            border-radius: 0 0 7px 7px;
            margin: 0 2px;
            text-transform: capitalize;
            transition: all 0.2s ease-in-out;

            span {
              display: none;
            }
          }

          .MuiTab-root.Mui-selected {
            height: 60px;
            color: #fff;
          }
        }
      }

      .filter-btn {
        height: 45px;
        border-radius: 0 0 7px 7px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin: 0;
        background: #1b1c1d;
        min-width: fit-content;

        svg {
          fill: rgba($color: #fff, $alpha: 0.8);
          font-size: 20px;
        }
      }
    }
  }

  .product-list {
  }

  .product-intro {
    position: fixed;
    bottom: 0;
    right: 0;
    animation: intro_animate duration timing-function delay iteration-count
      direction fill-mode;

    img {
      object-fit: cover;
      height: 100vh;
    }
  }
}

@media screen and(max-width:599px) {
  #new-marketplace {
    margin-top: 100px;

    #market-contents {
      > div {
        padding: 0px;
      }
    }

    .product-filter {
      .market__control-panel {
        top: 60px;
        z-index: 101;
        justify-content: center;

        .MuiTabs {
          &-scroller {
            .MuiTab-root {
              height: 35px;
              padding: 0 25px;
              margin: 0 1px;
              font-size: 12px;
            }

            .MuiTab-root.Mui-selected {
              height: 45px;
            }
          }
        }
      }
    }
  }
}
